@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  padding: 0;
  margin: 0;
  color: #fff;
}

/* login page */

.logo {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}
.logo span:nth-child(1) {
  color: pink;
}
.logo span:nth-child(2) {
  color: lightblue;
}
.logo span:nth-child(3) {
  color: lightgreen;
}

.input_field {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(0, 0, 0, 0.23);
  border: none !important;
  outline: none !important;
  height: 3rem;
  width: 100%;
  margin-top: 1rem;
  padding-left: 1rem;
  position: relative;
  z-index: 5;
}
.input_field:focus {
  background-color: rgb(0, 0, 0, 0.2);
}
.input_field:nth-child(1) {
  margin-top: 1rem;
}

/* Menu Bar */
.menu_box {
  height: fit-content;
  width: fit-content;
  position: fixed;
  top: auto;
  bottom: 2rem;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 998;
}
.menu_bar {
  /* min-width: 30rem; */
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 2rem;
  overflow: hidden;
}
.menu_bar ul {
  list-style: none;
  position: relative;
  z-index: 999;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.menu_bar ul li {
  color: #fff;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.selected_liquid_1 {
  height: 100%;
  width: 5.2rem;
  position: absolute;
  transition: 0.2s ease;
  background: linear-gradient(
    -75deg,
    rgba(124, 226, 7, 0.3),
    rgba(44, 184, 1, 0.3),
    rgba(4, 196, 29, 0.3)
  );
  /* background-color: green; */
  box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0 0 0 rgba(255, 255, 255, 1);
  backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
}
.selected_liquid_2 {
  height: 70%;
  width: 2rem;
  top: 14%;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s ease;
  background-color: green;
  /* margin-left: 6rem; */
  /* background: linear-gradient(
    -75deg,
    rgba(124, 226, 7, 0),
    rgba(44, 184, 1, 0),
    rgba(4, 196, 29, 0)
  ); */
  /* box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0 0 0 rgba(255, 255, 255, 1);
  backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px)); */
}

@keyframes selected_liguid_animation {
  0% {
    height: 100%;
    top: 0;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  25% {
    height: 60%;
    top: 20%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  70% {
    height: 70%;
    top: 15%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  0% {
    height: 100%;
    top: 0;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
  }
}

.selected_liquid_animation2 {
  animation: 1s selected_liguid_animation2;
  /* animation-delay: .5s; */
}

@keyframes selected_liguid_animation2 {
  0% {
    height: 70%;
    margin-left: 0rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    /* background: linear-gradient(
          -75deg,
          rgba(124, 226, 7, 0),
          rgba(44, 184, 1, 0),
          rgba(4, 196, 29, 0)
        ); */
  }
  70% {
    height: 60%;
    margin-left: 5rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    /* background: linear-gradient(
          -75deg,
          rgba(124, 226, 7, 0.3),
          rgba(44, 184, 1, 0.3),
          rgba(4, 196, 29, 0.3)
        ); */
  }
  80% {
    height: 50%;
    margin-left: 5rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    /* background: linear-gradient(
          -75deg,
          rgba(124, 226, 7, 0.2),
          rgba(44, 184, 1, 0.2),
          rgba(4, 196, 29, 0.2)
        ); */
  }
  90% {
    height: 60%;
    margin-left: 5rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    /* background: linear-gradient(
          -75deg,
          rgba(124, 226, 7, 0.1),
          rgba(44, 184, 1, 0.1),
          rgba(4, 196, 29, 0.1)
        ); */
  }
  0% {
    height: 70%;
    margin-left: 0rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    /* background: linear-gradient(
          -75deg,
          rgba(124, 226, 7, 0),
          rgba(44, 184, 1, 0),
          rgba(4, 196, 29, 0)
        ); */
  }
}

.selected_liquid_animation {
  animation: 1s selected_liguid_animation;
  /* animation-delay: .5s; */
}

/* header */
.header_content {
  height: 5rem;
  width: 100vw;
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: right;
  color: #fff;
  padding: 1rem 2rem;
}
.profile {
  font-size: 1.5rem;
  margin-left: 2rem;
  cursor: pointer;
}

/* Donation Report Page */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
