@import "tailwindcss";

:root {
  --background: #fcdede;
  --background: #000;
}

body {
  background: var(--background) !important;
  padding: 0;
  margin: 0;
  color: #fff;
}

.theme_box {
  width: 95%;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px !important;
}

.theme_box::after {
  content: "";
  border-radius: 10px !important;
}

.theme_inner_box{
  width: 95%;
  margin: 0 auto;
}

.logo {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}
.logo span:nth-child(1) {
  color: pink;
}
.logo span:nth-child(2) {
  color: lightblue;
}
.logo span:nth-child(3) {
  color: lightgreen;
}

.input_field {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(0, 0, 0, 0.23);
  border: none !important;
  outline: none !important;
  height: 3rem;
  width: 100%;
  margin-top: 1rem;
  padding-left: 1rem;
  position: relative;
  z-index: 5;
}
.input_field:focus {
  background-color: rgb(0, 0, 0, 0.2);
}
.input_field:nth-child(1) {
  margin-top: 1rem;
}

/* Menu Bar */
.menu_box {
  height: fit-content;
  width: fit-content;
  position: fixed;
  top: auto;
  bottom: 2rem;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 998;
}
.menu_bar {
  /* min-width: 30rem; */
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 2rem;
  overflow: hidden;
}
.menu_bar ul {
  list-style: none;
  position: relative;
  z-index: 999;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.menu_bar ul li {
  color: #fff;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.selected_liquid_1 {
  height: 100%;
  width: 5.2rem;
  position: absolute;
  transition: 0.2s ease;
  background: linear-gradient(
    -75deg,
    rgba(124, 226, 7, 0.3),
    rgba(44, 184, 1, 0.3),
    rgba(4, 196, 29, 0.3)
  );
  /* background-color: green; */
  box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0 0 0 rgba(255, 255, 255, 1);
  backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
}
.selected_liquid_2 {
  height: 70%;
  width: 2rem;
  top: 14%;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s ease;
  background-color: green;
  /* margin-left: 6rem; */
  /* background: linear-gradient(
    -75deg,
    rgba(124, 226, 7, 0),
    rgba(44, 184, 1, 0),
    rgba(4, 196, 29, 0)
  ); */
  /* box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0 0 0 rgba(255, 255, 255, 1);
  backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px)); */
}

@keyframes selected_liguid_animation {
  0% {
    height: 100%;
    top: 0;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  25% {
    height: 60%;
    top: 20%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  70% {
    height: 70%;
    top: 15%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  0% {
    height: 100%;
    top: 0;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
  }
}

.selected_liquid_animation2 {
  animation: 1s selected_liguid_animation2;
  /* animation-delay: .5s; */
}

@keyframes selected_liguid_animation2 {
  0% {
    height: 70%;
    margin-left: 0rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    /* background: linear-gradient(
          -75deg,
          rgba(124, 226, 7, 0),
          rgba(44, 184, 1, 0),
          rgba(4, 196, 29, 0)
        ); */
  }
  70% {
    height: 60%;
    margin-left: 5rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    /* background: linear-gradient(
          -75deg,
          rgba(124, 226, 7, 0.3),
          rgba(44, 184, 1, 0.3),
          rgba(4, 196, 29, 0.3)
        ); */
  }
  80% {
    height: 50%;
    margin-left: 5rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    /* background: linear-gradient(
          -75deg,
          rgba(124, 226, 7, 0.2),
          rgba(44, 184, 1, 0.2),
          rgba(4, 196, 29, 0.2)
        ); */
  }
  90% {
    height: 60%;
    margin-left: 5rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    /* background: linear-gradient(
          -75deg,
          rgba(124, 226, 7, 0.1),
          rgba(44, 184, 1, 0.1),
          rgba(4, 196, 29, 0.1)
        ); */
  }
  0% {
    height: 70%;
    margin-left: 0rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    /* background: linear-gradient(
          -75deg,
          rgba(124, 226, 7, 0),
          rgba(44, 184, 1, 0),
          rgba(4, 196, 29, 0)
        ); */
  }
}

.selected_liquid_animation {
  animation: 1s selected_liguid_animation;
  /* animation-delay: .5s; */
}

/* header */
.header_content {
  height: 5rem;
  width: 100vw;
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: right;
  color: #fff;
  padding: 1rem 2rem;
}
.profile {
  font-size: 1.5rem;
  margin-left: 2rem;
  cursor: pointer;
}
