.liquid-glass {
  position: relative;
  border-radius: 30px;
  isolation: isolate;
  background-color: rgb(255 255 255 / 5%);
  color: rgb(255 255 255 / 90%);
  text-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  font-size: 1.25rem;
  box-shadow: 0 6px 6px rgb(0 0 0 / 20%), 0 0 20px rgb(0 0 0 / 10%);
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
  
  // Glass distortion effect
  &::before {
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    z-index: -1;
  }
  
  // Outline shine
  &::after {
    box-shadow: inset 2px 2px 1px 0 rgb(255 255 255 / 50%), inset -1px -1px 1px 1px rgb(255 255 255 / 50%);
  }
  
  &.dragging {
    cursor: grabbing;
  }
}